@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

html {
  min-height: 100%;
  position: relative;
}

body, .root {
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}
