.QuestionsRow {
  background-color: #eee;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 25px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 18px;
  display: flex;

  & > div {
    padding: 7px 15px;
    background-color: #fff;
  }

  &.editing {
    .mainCell {
      padding: 3px 5px;
    }
  }

  .mainCell {
    flex: 1 0 0;
    text-decoration: none;
    color: #333;

    &:visited {
      color: #333;
    }
  }

  .destroyCell, .toggleCell {
    position: relative;
    flex-basis: 50px;
  }

  .destroy {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #cc9a9a;
    margin-top: -20px;
    transition: color 0.2s ease-out;
    background-color: transparent;
    border: none;
    &:hover {
      color: #af5b5e;
      cursor: pointer;
    }

    &:after {
      content: '×';
    }
  }
}
