$main-color: #474f60;

.Auth {
  padding: 15px;
  background-color: #fff;
  border-radius: 3px;

  .row {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0px;
    }
  }

  .btn {
    width: 100%;
  }
}
